{{- if .Values.deployment.enabled }}
{{- $fullName := include "common.fullname" . -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "common.fullname" . }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "common.selectorLabels" . | nindent 6 }}
      {{- with .Values.selectorLabels }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "common.selectorLabels" . | nindent 8 }}
        {{- with .Values.selectorLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.deployment.initContainers }}
      initContainers:
        {{- range .Values.deployment.initContainers }}
        - name: {{ .name }}
          image: {{ .image }}
          {{- if .command }}
          command:
            {{ toYaml .command | nindent 12 }}
          {{- end }}
          {{- if .args }}
          args:
            {{ toYaml .args | nindent 12 }}
          {{- end }}
          {{- if .env }}
          env:
            {{- range $k, $v := .env }}
            - name: {{ $k | quote }}
            {{- if eq $v.type "kv" }}
              value: {{ $v.value | quote }}
            {{- else if eq $v.type "parameterStore" }}
              valueFrom:
                secretKeyRef:
                  name: "{{ $fullName }}-{{ $v.name }}"
                  key: "{{ $fullName }}-{{ $v.name }}"
            {{- else if eq $v.type "configmapRef" }}
              valueFrom:
                configMapKeyRef:
                  name: {{ $v.name | quote }}
                  key: {{ $v.key | quote }}
            {{- end }}
            {{- end }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "common.serviceAccountName" . }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.deployment.volumes }}
      volumes:
        {{- range $volume := .Values.deployment.volumes }}
        - name: {{ $fullName }}-{{ $volume.name }}-volume
          persistentVolumeClaim:
            claimName: {{ $fullName }}-{{ $volume.name }}-pvc
        {{- end }}
      {{- end }}
      containers:
        - name:  {{ include "common.fullname" . }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- if .Values.deployment.volumes }}
          volumeMounts:
            {{- range $volume := .Values.deployment.volumes }}
            - name: {{ $fullName }}-{{ $volume.name }}-volume
              mountPath: {{ $volume.mountPath }}
            {{- end }}
          {{- end }}
          {{- if .Values.command }}
          command:
            {{ toYaml .Values.command | nindent 12 }}
          {{- end }}
          {{- if .Values.args }}
          args:
            {{ toYaml .Values.args | nindent 12 }}
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.service.containerPort }}
          ports:
            - name: http
              containerPort: {{ .Values.service.containerPort }}
              protocol: TCP
          {{- else if .Values.deployment.ports }} # If ports are defined for the deployment, use all of them
          ports:
            {{- range .Values.deployment.ports }}
            - name: {{ .name }}
              containerPort: {{ .containerPort }}
              protocol: {{ .protocol }}
            {{- end }}
          {{- end }}
          env:
            {{- range $k, $v := .Values.env }}
            - name: {{ $k | quote }}
            {{- if eq $v.type "kv" }}
              value: {{ $v.value | quote }}
            {{- else if eq $v.type "parameterStore" }}
              valueFrom:
                secretKeyRef:
                  name: "{{ $fullName }}-{{ $v.name }}"
                  key: "{{ $fullName }}-{{ $v.name }}"
            {{- else if eq $v.type "configmapRef" }}
              valueFrom:
                configMapKeyRef:
                  name: {{ $v.name | quote }}
                  key: {{ $v.key | quote }}
            {{- end }}
            {{- end }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
