{{- $fullName := include "graphprotocol-node.fullname" . -}}
{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "graphprotocol-node.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.ingressClassName }}
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
      {{- range .Values.ingress.hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ $fullName }}-ingress-tls
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ . | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 8000
    {{- end }}
{{- end }}
---
{{ if .Values.ingressIndex.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}-index
  labels:
    {{- include "graphprotocol-node.labels" . | nindent 4 }}
  {{- with .Values.ingressIndex.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingressIndex.ingressClassName }}
  ingressClassName: {{ .Values.ingressIndex.ingressClassName }}
  {{- end }}
  {{- if .Values.ingressIndex.tls.enabled }}
  tls:
    - hosts:
      {{- range .Values.ingressIndex.hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ $fullName }}-ingress-index-tls
  {{- end }}
  rules:
    {{- range .Values.ingressIndex.hosts }}
    - host: {{ . | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 8030
    {{- end }}
{{- end }}
---
{{ if .Values.ingressRpc.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}-rpc
  labels:
    {{- include "graphprotocol-node.labels" . | nindent 4 }}
  {{- with .Values.ingressRpc.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingressRpc.ingressClassName }}
  ingressClassName: {{ .Values.ingressRpc.ingressClassName }}
  {{- end }}
  {{- if .Values.ingressRpc.tls.enabled }}
  tls:
    - hosts:
      {{- range .Values.ingressRpc.hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ $fullName }}-ingress-rpc-tls
  {{- end }}
  rules:
    {{- range .Values.ingressRpc.hosts }}
    - host: {{ . | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 8020
    {{- end }}
{{- end }}
---
{{ if .Values.ingressWebsocket.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}-ws
  labels:
    {{- include "graphprotocol-node.labels" . | nindent 4 }}
  {{- with .Values.ingressWebsocket.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingressWebsocket.ingressClassName }}
  ingressClassName: {{ .Values.ingressWebsocket.ingressClassName }}
  {{- end }}
  {{- if .Values.ingressWebsocket.tls.enabled }}
  tls:
    - hosts:
      {{- range .Values.ingressWebsocket.hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ $fullName }}-ingress-websocket-tls
  {{- end }}
  rules:
    {{- range .Values.ingressWebsocket.hosts }}
    - host: {{ . | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: 8001
    {{- end }}
{{- end }}
