{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "discourse.fullname" . }}-web
  labels:
    {{- include "discourse.labels" . | nindent 4 }}
    app.kubernetes.io/component: web
spec:
  podSelector:
    matchLabels:
      {{- include "discourse.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: web
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - {}
      ports:
        - port: 3000
          protocol: TCP
  egress:
    - to:
        - podSelector:
            matchLabels:
      {{- include "discourse.selectorLabels" . | nindent 14 }}
              app.kubernetes.io/component: postgresql
      ports:
        - port: 5432
          protocol: TCP
    - to:
        - podSelector:
            matchLabels:
      {{- include "discourse.selectorLabels" . | nindent 14 }}
              app.kubernetes.io/component: redis
      ports:
        - port: 6379
          protocol: TCP
    - to:
        - namespaceSelector: {}
      ports:
        - port: 53
          protocol: UDP
        - port: 53
          protocol: TCP
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
      ports:
        - port: 80
          protocol: TCP
        - port: 443
          protocol: TCP
        - port: 587
          protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "discourse.fullname" . }}-sidekiq
  labels:
    {{- include "discourse.labels" . | nindent 4 }}
    app.kubernetes.io/component: sidekiq
spec:
  podSelector:
    matchLabels:
      {{- include "discourse.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: sidekiq
  policyTypes:
    - Egress
  egress:
    - to:
        - podSelector:
            matchLabels:
      {{- include "discourse.selectorLabels" . | nindent 14 }}
              app.kubernetes.io/component: postgresql
      ports:
        - port: 5432
          protocol: TCP
    - to:
        - podSelector:
            matchLabels:
      {{- include "discourse.selectorLabels" . | nindent 14 }}
              app.kubernetes.io/component: redis
      ports:
        - port: 6379
          protocol: TCP
    - to:
        - namespaceSelector: {}
      ports:
        - port: 53
          protocol: UDP
        - port: 53
          protocol: TCP
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
      ports:
        - port: 80
          protocol: TCP
        - port: 443
          protocol: TCP
        - port: 587
          protocol: TCP
---
{{- if .Values.postgresql.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "discourse.fullname" . }}-postgresql
  labels:
    {{- include "discourse.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
spec:
  podSelector:
    matchLabels:
      {{- include "discourse.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: postgresql
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              {{- include "discourse.selectorLabels" . | nindent 14 }}
              app.kubernetes.io/component: web
        - podSelector:
            matchLabels:
              {{- include "discourse.selectorLabels" . | nindent 14 }}
              app.kubernetes.io/component: sidekiq
      ports:
        - port: 5432
          protocol: TCP
{{- end }}
---
{{- if .Values.redis.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "discourse.fullname" . }}-redis
  labels:
    {{- include "discourse.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  podSelector:
    matchLabels:
      {{- include "discourse.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: redis
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              {{- include "discourse.selectorLabels" . | nindent 14 }}
              app.kubernetes.io/component: web
        - podSelector:
            matchLabels:
              {{- include "discourse.selectorLabels" . | nindent 14 }}
              app.kubernetes.io/component: sidekiq
      ports:
        - port: 6379
          protocol: TCP
{{- end }}
{{- end }}
