apiVersion: v1
kind: Secret
metadata:
  name: {{ include "discourse.fullname" . }}-secrets
  labels:
    {{- include "discourse.labels" . | nindent 4 }}
type: Opaque
data:
  DISCOURSE_DB_PASSWORD: {{ required "secrets.dbPassword must be provided" .Values.secrets.dbPassword | b64enc | quote }}
  DISCOURSE_REDIS_PASSWORD: {{ default "" .Values.secrets.redisPassword | b64enc | quote }}
  DISCOURSE_S3_ACCESS_KEY_ID: {{ default "" .Values.secrets.s3AccessKeyId | b64enc | quote }}
  DISCOURSE_S3_SECRET_ACCESS_KEY: {{ default "" .Values.secrets.s3SecretAccessKey | b64enc | quote }}
  SMTP_PASSWORD: {{ default "" .Values.secrets.smtpPassword | b64enc | quote }}
